<div ng-app="PointOfSales" 

<article ng-controller="ProductSearchController">
	
	<section class="search-form">
		<form>
				<header>
					<h1 ng-model="operation" ng-change="search(keywords)">{{operation}}</h1>
				</header>
				<label for="keywords" class="sr-only">Keywords</label>
				<div class="input-group">
					<input type="text" name="keywords" class="form-control input-lg" placeholder="Insert Barcode or Name Product" ng-change="search(keywords, <%= current_user.id %>, ticket)" ng-model="keywords"   ng-model-options="{ debounce: 1000 }"/>
				    <span class="input-group-addon">
					     <i class="glyphicon glyphicon-search"></i>
					</span>
				</div>
		</form>
	</section>
	<!-- <div class="col-md-6">
		<section class="search-results">
			<header>
				<h1 class="h3">Results</h1>
			</header>
			<ol class="list-group" ng-repeat="product in productssearch">
					<li class="list-group-item clearfix">
					    <h2 class="pull-right"> {{product.bar_code}}</h2>
						<h2>{{product.name }} </h2>
						<img ng-src={{product.photo.thumb.url}} class="img-rounded" />
						<h3 class="pull-right">Brand:  {{product.brand}} </h3>
						<h3 >Price: {{product.price }}</h3>
						<h3 >Stock: {{product.stock}}</h3>
						<button class="pull-right btn btn-primary" 
							ng-click="addListItem(product.id, <%= current_user.id %>, product.price, ticket)">Add
						</button>
					</li>
			</ol>
		</section>
	</div> -->
	<section>
	<div class="col-md-7">
				<h1 class="h3">List Products</h1>
				<div ng-repeat="t in ticket">
					<div ng-repeat= "i in t.LineItems">	
							<li class="list-group-item clearfix">
								<div class="col-md-5 hidden-xs">
									<img ng-src={{i.product.photo.thumb.url}} class="img-rounded" />	
								</div>
								<div class="col-md-7">
									 <h2>{{i.product.name}} </h2>
									<h2>{{i.quantity}} x ${{i.product.price}} = ${{i.totalsale}}</h2>
								</div>
								<button class="pull-right btn btn-danger" ng-click=" deleteItemProduct(i.id, ticket, t.id)">Delete All
								    </button>	
							</li>
						<br>
					</div>
				</div>
		
	</div>
	<div class="col-md-5">
		<div ng-model="ticket">
			<h3>Ticket number {{ticket[0].id}}</h3>
       	</div>

		<div ng-model="ticket">
			     <div class="col-md-12">
		                <h1>Total: ${{ticket[0].total}}</h1>
		         </div>
		       <div class="col-md-12"> 
		        <form role="form" name="payForm" novalidate="">
			        <div class="form-group" data-ng-class="{'has-error' :!payForm.pay.$valid}">
			        
				            <label class="control-label h1" for="pay">Paywith</label>
				              <input class="form-control" ensure-prime name="pay" ng-model="pay_with" type="number" min="0" data-total="{{ticket[0].total}}" required/>
				              <span class="help-block h3" data-ng-show="payForm.pay.$error.required">This is required.</span>
				              <span class="help-block h3" data-ng-show="payForm.pay.$error.number"> Not valid number!</span>
				              <div class="help-block h3" ng-show="payForm.pay.$invalid">
							     The total is greater than pay
							</div>
				         </div>
				         <button type="button" class="pull-right btn btn-success btn-lg btn-block" ng-click=pay() data-toggle="modal" data-target="#myModal" ng-disabled="payForm.$invalid">Pay</button>
				  
				     <br>
				</form>
			  	</div>   	
	      </div>
	</div>
	</section>

	<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h3>Ticket number {{ticket[0].id}}</h3>
	      </div>
	      <div class="modal-body"> <!--modal body -->
	      	 <h1>Total: ${{ticket[0].total}}</h1>
	      	 <h1>Pay With: ${{pay_with}}</h1>
	      	 <h1>Change: ${{change}}</h1>
	      </div>
	      <div class="modal-footer">
	      	<button type="button" class="btn btn-primary" ng-click=confirm() data-dismiss="modal">Confirm Sale</button>
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
</article>
</div>
