<article ng-controller="ProductSearchController">
	<section class="search-form">
	<header>
		<h1 class="h3">Search</h1>
	</header>
		<form>
			
				<label for="keywords" class="sr-only">Keywords</label>
				<input type="text" name="keywords" class="form-control input-lg" placeholder="Insert Barcode or Name Product" ng-change="search(keywords)" ng-model="keywords">
		
		</form>
	</section>
	<div class="col-md-8">
	<section class="search-results">
		<header>
			<h1 class="h3">Results</h1>
		</header>
		<ol class="list-group" ng-repeat="product in products">
				<li class="list-group-item clearfix">
				    <h2 class="pull-right"> {{product.bar_code}}</h2>
					<h2>{{product.name }} </h2>
					<img ng-src={{product.photo.thumb.url}} class="img-rounded" />
					<h3 class="pull-right">Brand:  {{product.brand}} </h3>
					<h3 >Price: {{product.price }}</h3>
					<h3 >Stock: {{product.stock}}</h3>
					<button class="pull-right btn btn-primary" ng-click="addListItem(product.id, product.price)">AddList</button>
				</li>
		</ol>
	</section>
	</div>
	<div class="col-md-4">
		<section class="item-sales">
			<h1 class="h3">Sales</h1>

		</section>
	</div>
	<div class="col-md-12">
		<section>
			
		</section>
	</div>
</article>
