<div ng-app="PointOfSales"> 
<article ng-controller="ProductSearchController">
	
	<section class="search-form">
	<header>
		<h1 class="h3">Search</h1>
	</header>
		<form>
			
				<label for="keywords" class="sr-only">Keywords</label>
				<input type="text" name="keywords" class="form-control input-lg" placeholder="Insert Barcode or Name Product" ng-change="search(keywords, <%= current_user.id %>, ticket)" ng-model="keywords"   ng-model-options="{ debounce: 1000 }"/>
		
		</form>
	</section>
	<!-- <div class="col-md-6">
		<section class="search-results">
			<header>
				<h1 class="h3">Results</h1>
			</header>
			<ol class="list-group" ng-repeat="product in productssearch">
					<li class="list-group-item clearfix">
					    <h2 class="pull-right"> {{product.bar_code}}</h2>
						<h2>{{product.name }} </h2>
						<img ng-src={{product.photo.thumb.url}} class="img-rounded" />
						<h3 class="pull-right">Brand:  {{product.brand}} </h3>
						<h3 >Price: {{product.price }}</h3>
						<h3 >Stock: {{product.stock}}</h3>
						<button class="pull-right btn btn-primary" 
							ng-click="addListItem(product.id, <%= current_user.id %>, product.price, ticket)">Add
						</button>
					</li>
			</ol>
		</section>
	</div> -->
	<section>
	<div class="col-md-7">
				<h1 class="h3">List Products</h1>
				<div ng-repeat="t in ticket">
					<div ng-repeat="s in t.sales"">
							<li class="list-group-item clearfix">
								<div class="col-md-5">
									<img ng-src={{s.product.photo.thumb.url}} class="img-rounded" />	
								</div>
								<div class="col-md-7">
									 <h2>{{s.product.name}} </h2>
									<h2>{{s.quantity}} x ${{s.product.price}} = ${{s.totalsale}}</h2>
								</div>
								<button class="pull-right btn btn-danger" ng-click=" deleteItemProduct(s.id, ticket, t.id)">Delete
								    </button>	
							</li>
						<br>
					 </div>
				</div>
		
	</div>
	<div class="col-md-5">
		
		<div ng-model="ticket">
			<h3>Ticket number {{ticket[0].id}}</h3>
       	</div>

		<div ng-model="ticket">
			     <div class="col-md-12">
		                <h1>Total: ${{ticket[0].total}}</h1>
		                <h1><%= number_to_currency( {{ticket[0].total}} ) %></h1>
		         </div>
		       <div class="col-md-12"> 
		        <form role="form" name="payForm" novalidate="">
			        <div class="form-group" data-ng-class="{'has-error' :!payForm.pay.$valid}">
			        
				            <label class="control-label h1" for="pay">Paywith</label>
				              <input class="form-control" ensure-prime name="pay" ng-model="pay_with" type="number" min="0" data-total="{{ticket[0].total}}" required/>
				              <span class="help-block h3" data-ng-show="payForm.pay.$error.required">This is required.</span>
				              <span class="help-block h3" data-ng-show="payForm.pay.$error.number"> Not valid number!</span>
				              <div class="help-block h3" ng-show="payForm.pay.$invalid">
							     The total is greater than pay
							</div>
				         </div>
				
				         <div class="col-md-12">
				            		<button class="pull-right btn btn-success btn-lg btn-block" ng-click=" pay()" ng-disabled="payForm.$invalid">Pay 
									</button>
				         </div>
				  
				     <br>
				</form>
			  	</div>   	
	      </div>
	</div>
	</section>
</article>
</div>
